<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Ta demande de participation à <%= @attendance.event.title %> a bien été accepté.
    </p>
    <p>Tu peux désormer contacter <%= @attendance.event.owner.first_name %> <%= @attendance.event.owner.last_name %> au <%=@attendance.event.owner.phone_number%> ou sur <%=@attendance.event.owner.email%></p>
    <p> À très vite sur CoSport !</p>
  </body>
</html>
