<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      <%= @attendance.attendee.first_name %> <%= @attendance.attendee.last_name %> a demandé à participer à <%= @attendance.event.title %>.
    </p>
    <p>
      Pour gérer tes participations, va <%= link_to("ICI", edit_event_attendance_url(@attendance.event.id, @attendance.id)) %>.
    </p>
    <p> À très vite sur CoSport ! </p>
  </body>
</html>
