<div class="row p-3">
  <div class="col primary-color split-agenda pt-2">
    <hr>

        <%i = 0%>
        <% while i < @future_owned_events_hash.length %>

        <div class="pb-2">
          <%= @days_array_fr[@future_owned_events_hash.keys[i].wday]%>
          <%= @future_owned_events_hash.keys[i].strftime("%e")%>
          <%= @months_array_fr[@future_owned_events_hash.keys[i].strftime("%m").to_i]%>
          <%= @future_owned_events_hash.keys[i].strftime("%Y") %>
        </div>

        <%events_by_hour = @future_owned_events_hash.values[i].group_by_hour_of_day { |evt| (evt.start_date+ Time.now.gmt_offset).utc.strftime("%T,%L")} %>

           <%j =0 %>
              <% while j< events_by_hour.length %>
                 <% events_by_hour.values[j].sort_by(&:start_date).each do |event|%>
                     <div class="col flex-column">
                       <%= link_to event.title , event_path(event.id) , method: "get", class: "event-profil-page  strong-color" %>
                     </div>
                 <%end%>
                <% j +=1 %>
              <% end %>
            <% i = i+1 %>
            <hr>
        <%end%>
    </div>


      <div class=" col primary-color split-agenda pt-2">
        <hr>
        <%i = 0%>
        <% while i < @future_attendances_hash.length %>

        <div class="pb-2">
          <%= @days_array_fr[@future_attendances_hash.keys[i].wday]%>
          <%= @future_attendances_hash.keys[i].strftime("%e")%>
          <%= @months_array_fr[@future_attendances_hash.keys[i].strftime("%m").to_i]%>
          <%= @future_attendances_hash.keys[i].strftime("%Y") %>
        </div>

          <%events_by_hour = @future_attendances_hash.values[i].group_by_hour_of_day { |att| (att.event.start_date+ Time.now.gmt_offset).utc.strftime("%T,%L")} %>

           <%j =0 %>
            <% while j< events_by_hour.length %>
              <% events_by_hour.values[j].sort { |a,b| a.event.start_date <=> b.event.start_date }.each do |attendance|%>
                <div class="col flex-column">
                  <%= link_to attendance.event.title , event_path(attendance.event.id) , method: "get", class: "event-profil-page strong-color" %>
                   </div>
                  <%end%>
                <% j +=1 %>
              <% end %>
            <% i = i+1 %>
            <hr>
        <% end%>
      </div>
    </div>
