


<div class="row p-3">
  <div class="col strong-color split-agenda">
    <%i = 0%>
    <% while i < @past_attendances_hash.length %>

        <%= @days_array_fr[@past_attendances_hash.keys[i].wday]%>
        <%= @past_attendances_hash.keys[i].strftime("%e")%>
        <%= @months_array_fr[@past_attendances_hash.keys[i].strftime("%m").to_i]%>
        <%= @past_attendances_hash.keys[i].strftime("%Y") %>

        <br>

      <%events_by_hour = @past_attendances_hash.values[i].group_by_hour_of_day { |att| (att.event.start_date+ Time.now.gmt_offset).utc.strftime("%T,%L")} %>

       <%j =0 %>
          <% while j< events_by_hour.length %>
          <%= events_by_hour.keys[j]%>H
          <br>
             <% events_by_hour.values[j].sort { |a,b| a.event.start_date <=> b.event.start_date }.each do |attendance|%>
                 <%= link_to attendance.event.title , event_path(attendance.event.id) , method: "get" %>
             <%end%>
            <% j +=1 %>
            <br>
          <% end %>

        <% i = i+1 %>

          <hr>
    <% end%>
  </div>

  <div class= "col strong-color ">
    <%i = 0%>
    <% while i < @past_owned_events_hash.length %>

        <%= @days_array_fr[@past_owned_events_hash.keys[i].wday]%>
        <%= @past_owned_events_hash.keys[i].strftime("%e")%>
        <%= @months_array_fr[@past_owned_events_hash.keys[i].strftime("%m").to_i]%>
        <%= @past_owned_events_hash.keys[i].strftime("%Y") %>

        <br>

      <%events_by_hour = @past_owned_events_hash.values[i].group_by_hour_of_day { |evt| (evt.start_date+ Time.now.gmt_offset).utc.strftime("%T,%L")} %>

       <%j =0 %>
          <% while j< events_by_hour.length %>
          <%= events_by_hour.keys[j]%>H
          <br>
             <% events_by_hour.values[j].sort_by(&:start_date).each do |event|%>
                 <%= link_to event.title , event_path(event.id) , method: "get" %>
             <%end%>
            <% j +=1 %>
            <br>
          <% end %>

        <% i = i+1 %>
    <% end%>
  </div>
</div>
