<%if @user.profil_picture.attached?%>
  <%= image_tag @user.profil_picture, alt: 'profil_picture' %>
<%else%>
  <p>pas encore de profil_picture</p>
<% end %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<% if current_user.id == @user.id %>
  <%= link_to "Edit", edit_user_registration_path, class: "nav-link" %>
<% end %>

<p>first_name: <%= @user.first_name %></p>
<p>last_name: <%= @user.last_name %></p>
<p>gender: <%= @user.gender %></p>
<p>description: <%= @user.description %></p>
<% if current_user.id == @user.id %>
  <p><%= @user.email %></p>
  <p><%= @user.phone_number %></p>
<% end %>
<% if @user.level != nil%>
  <p>level genreral: <%= @user.level %> <%= @level %></p>
<% end %>

<p>---------------------------------------------------</p>

<% @user.users_sports.each do |level_sport| %>
  <p>level: <%= level_sport.sport.sport_name %> (<%= level_sport.level_user %>)</p>
<% end %>

<%= form_tag(user_opinions_path(@user.id), method: :post ) do %>
  <%= label_tag 'opinions' %>
  <%= text_area_tag 'content' %>
  <%= submit_tag "Create opi" %>
<% end %>

<% @opinion.each do |opinion| %>
  <p><a href="<%= user_path(opinion.sender) %>"><%= opinion.sender.first_name %></a> dit : <%= opinion.content %></p>
  <%= button_to "delete", user_opinion_path(@user.id, opinion.id), :method => :delete %>
<% end %>
_______________________________

  <hr>



<%= render "sortedevent"  %>
