
  <%if @user.profil_picture.attached?%>
    <%= image_tag @user.profil_picture, alt: 'profil_picture' %>
  <%else%>
  	<p>pas encore de profil_picture</p>
  <% end %>


<% if current_user.id == @user.id %>
  <h3>Changer profil_picture ?</h3>
	<%= form_tag user_profil_picture_index_path(@user), multipart: true do %>
  	<%= file_field_tag :profil_picture %>
  	<%= submit_tag "mettre à jour" %>
  <% end %>
<% end %>

  <br><br>
  <p><%= @user.first_name %></p>
  <p><%= @user.last_name %></p>
  <p><%= @user.gender %></p>
  <p><%= @user.email %></p>
  <p><%= @user.phone_number %></p>
  <% if @user.level != nil%>
  	<p><%= @user.level %></p>
  <% end %>

    <%= form_tag(user_opinions_path(@user.id), method: :post ) do %>
      <%= label_tag 'opinions' %>
      <%= text_area_tag 'content' %>
      <%= submit_tag "Create opi" %>  
    <% end %>

  <% @opinion.each do |opinion| %>
    <p><a href="<%= user_path(opinion.sender) %>"><%= opinion.sender.first_name %></a> dit : <%= opinion.content %></p>
  <% end %>