
<section id= "section-main"> <!-- place your content inside for sticky footer -->
  <div class="container-fluid">

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto font-1">
          <h2 class="f-bold"> Le sport où tu veux, avec qui tu veux !</h2>
            <h5 class="f-light mb-5">Cosport : trouve des partenaires sportifs ! </h5>
        </div>
        <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
                <%= form_tag events_index_path, :method => 'get', :id => 'events_search', class: "" do %>
              <div class="form-row form-landing-page">

              <div class="col-12 col-md-3 mb-md-0">
                    <p><%=select_tag :city, options_for_select(City.all.collect{ |city| [city.city_name, city.id] }.insert(0, "Ville")), class: "form-control form-control-xs" %> </p>
                      </div>
                      <div class="col-12 col-md-3 mb-md-0">
                        <p><%=select_tag :sport, options_for_select(Sport.all.collect{ |sport| [sport.sport_name, sport.id] }.insert(0, "Sport")), class:"form-control" %></p>
                      </div>
                        <div class="col-12 col-md-4 mb-md-0">
                        <p>  <%= date_field_tag 'start_date', @start_date, class: "form-control"%></p>
                        </div>
                      <div class="col-12 col-md-2">
                      <%= submit_tag "Search", :name => nil, class: "btn btn-block btn-lg btn-primary" %>
                    </div>
                <% end %>
              </div>
            </div>

      </div>
    </div>
  </header>

</section><!-- end of section content -->

<section class="section-2">
  <div class="container">
    <div class="row align-items-center font-4  pt-5">
      <div class="col-lg-8 font-3 f-size-3 py-5 mb-2">
    Quels sports faites vous ?
      </div>
      <div class="col-lg-4 text-right">
      </div>
    </div>
    <div class="row">
      <% @events_last.each do |event| %>
          <div class="col-lg-3">
            <div class="card rounded p-2 my-3" style="max-height: 220px;">
            <span class="sport-badge rounded-right"><%= event.sport.sport_name %></span>
            <div class="card-title">
              <span class="profil-picture">
                <%if event.owner.profil_picture.attached?%>
                <div class="user" style="background-image: url(<%= rails_blob_url(event.owner.profil_picture) %>)"></div>
                <%else%>
                  <%= image_tag "person.png", alt: 'profil_picture', class: "profil-picture" %>
                <% end %>
                </span>
                <%= link_to event.title.capitalize.to_s , event_path(event.id) , method: "get", class:"event-landing-page" %>
                </div>
                <div class="card-body">
                  <div class="col">
                  <%=  event.city.city_name  %>
                  </div>
                  <div class="col">
                  <%=  event.start_date.strftime("%d/%m/%Y")  %>
                  </div>
                </div>
              </div>
            </div>
         <%end%>
    </div>
  </div>
</section>

<section class="features-icons text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex icon-medium mx-auto">
            <%= image_tag('icon-instant', class: "icon-social mx-auto pb-4")%>
          </div>
          <h3 class= "font-3">Rapidité</h3>
          <p class="lead mb-0 p-3">Une envie sportive mais personne pour vous accompagner ? Sur Cosport, vous allez forcément trouver une annonce qui vous correspond !</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex icon-medium mx-auto">
            <%= image_tag('icon-heart', class: "icon-social mx-auto pb-4")%>
          </div>
          <h3 class= "font-3">Communauté</h3>
          <p class="lead mb-0 p-3">Rencontrez les nombreux sportifs près de chez vous et nouez de nouvelles affinités en progressant ensemble.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="d-flex icon-medium mx-auto">
            <%= image_tag('icon-comet', class: "icon-social mx-auto pb-4")%>
          </div>
          <h3 class= "font-3">Facilité</h3>
          <p class="lead mb-0 p-3">Cosport, rien de plus facile, vous postez votre annonce, vous validez la présence des intéressés, petit échange par mail ou sms, et c’est parti !</p>
        </div>
      </div>
    </div>
  </div>
</section>
