<%= form_tag events_index_path, :method => 'get', :id => 'events_search' do %>

<h2>
  Tous les USERS :</h2>

<% @user.each do |user| %>
  <div>
    <a href="<%= user_path(user.id) %>"><%= user.email %></a>
  </div>
<% end %>

<h2>
  Tous les EVENTS :</h2>

<h3>
  <a href="event_path">
    event index</a>
</h3>

<% @event.each do |event| %>
  <div>
    <a href="<%= events_path(event.id) %>">
      <p><%= Sport.all.find(event.sport_id).sport_name %></p>

      <p>à
        <%= event.city.city_name %></p>

      <p>crée par
        <%= User.all.find(event.owner_id).first_name%>
        <%= User.all.find(event.owner_id).last_name%></p>
      <% if Attendance.where(attendee_id: event.id).exists?%>
        <p>avec
          <% Attendance.where(attendee_id: event.id).each do |attendee|%>
            <% attendee.first_name%>
              <% attendee.last_name%>
                <br>

              <% end %>
            </p>
          <% end %>
          <a href="#">REJOINDRE CE COSPORT</a>
        </a>
        <p>--------------------------</p>
      </div>
    <% end %>

    <p><%= label_tag 'City' %> </p>
    <p><%= text_field_tag :city, params[:search] %> </p>

    <p><%= label_tag 'Sport' %></p>
    <p><%= text_field_tag :sport, params[:search] %></p>
    <%= submit_tag "Search", :name => nil %>
<% end %>




