
<section> <!-- place your content inside for sticky footer -->
  <div class="container-fluid">

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>


</section><!-- end of section content -->
      



<%= form_tag events_index_path, :method => 'get', :id => 'events_search' do %>

      


   <p><%= label_tag 'City' %> </p>
    <p><%=select_tag :city, options_for_select(City.all.collect{ |city| [city.city_name, city.id] }) %> </p>

    <p><%= label_tag 'Sport' %></p>
    <p><%=select_tag :sport, options_for_select(Sport.all.collect{ |sport| [sport.sport_name, sport.id] }) %></p>
    <div class="form-group" >
          <%= label_tag 'Date' %>
          <%= date_field_tag 'start_date', @start_date, class: "form-control "  %>
    </div>

    <div class="form-group" >
          <%= label_tag 'À partir de' %>
          <br>
           <%= time_field 'hour_start', class: "form-control " %>

    </div>


 
