
<div id="card-event">

  <div class="col-md-9 col-lg-7 col-xl-6 mx-auto ">
    <%if @events_hash.length == 0 %>
      <h1>Désolé il n'y a pas de cosport correspondant à ta requête :'(</h1>
    <%end %>

  <%i = 0%>
    <% while i < @events_hash.length %>

<!-- DATE -->
    <div class="sticky font-1 primary-color-bg f-size-3 font-3 text-center extended-content-container">

        <%= @days_array_fr[@events_hash.keys[i].wday]%>
        <%= @events_hash.keys[i].strftime("%e")%>
        <%= @months_array_fr[@events_hash.keys[i].strftime("%m").to_i]%>
        <%= @events_hash.keys[i].strftime("%Y") %>

    </div>


    <!-- CARD EVENT -->
      <%events_by_hour = @events_hash.values[i].group_by_hour_of_day { |evt| (evt.start_date+ Time.now.gmt_offset).utc.strftime("%T,%L")} %>
        <%j =0 %>
          <% while j< events_by_hour.length %>
            <% events_by_hour.values[j].sort_by(&:start_date).each do |event|%>

    <div class="card card-event-index p-3 my-5" style="min-height: 400px;">
      <span class="sport-notify-badge f-size-2 font-3 strong-color"><%= event.sport.sport_name %></span>
      <div class="card-title">
        <span class="profil-picture-event-all">
          <%if event.owner.profil_picture.attached?%>
          <div class="user" style="background-image: url(<%= rails_blob_url(event.owner.profil_picture) %>)"></div>
          <%else%>
            <span class="profil-picture-event-all"><%= image_tag "person.png", alt: 'profil_picture', class: "user" %></span>
          <% end %>
          </span>
        <div class="text-center py-3 f-size-3 font-4 primary-color f-medium pb-5"> À <%= event.start_date.strftime('%H:%M') %></div>
      </div>
      <div class="card-body f-size-2 strong-color font-4 f-regular">
      <b class="event-landing-page">
        <div><%= link_to (user_path(event.owner.id)) do %>
            <%= event.owner.first_name%> <%= event.owner.last_name%>
          <%end%>
          </b>
        <br> vous propose sur <%= event.city.city_name%>, </div>
        <div class="f-thin"><%= event.description%></div>

      <div class="text-left py-3">  <%= link_to "+ d'infos", event_path(event.id), class: "event-landing-page medium-color font-4 f-regular text-center" %></div>
        </div>
      </div>
        <% end %>
        <% j +=1 %>
      <% end %>
        <% i = i+1 %>
    <%end%>


  </div>
</div>
