<header class="masthead-2 mhead-4">

    <div class="container">
      <div class="row align-items-end">

<!-- colonne gauche -->
  <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
    <div class="col-xl-12 mx-auto font-1">
			<div class="display-4 font-3 strong-color text-center"><%= @event.sport.sport_name %></div>
    </div>
		  <div class="col-12">
				<%= render 'show_content_card_event'%>
	 				 </div>
   			</div>

<!-- colonne droite -->
   <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
     <div class="col-xl-12 mx-auto font-1 f-medium text-center align-self-end">
       <div class="f-medium font-1 medium-color f-uppercase"> Zone du Cosport </div>
     </div>
			 <div id="show-event-map" class="col-12  border-map pb-1"></div>
			 <div class="col-xl-12 mx-auto pt-5">
					<%= render 'show_join_an_event' %>
			 </div>
    </div>
	</div>

	<div class="row">
		<div class=" col col-md-12 mx-auto">
			<%= render 'show_comment_event'%>
		</div>
	</div>
</div>
</header>









<%= javascript_include_tag 'show_event_map' %>
