<header class="masthead-2 mhead-4">

    <div class="container">
      <div class="row align-items-end">

<!-- colonne gauche -->
  <div class="col-md-8 col-lg-8 col-xl-8 mx-auto">
    <div class="col-xl-12 mx-auto font-1">
			<div class="display-4 font-3 strong-color text-center"><%= @event.sport.sport_name %></div>
    </div>
		  <div class="col-12">
						<div class="card rounded p-3" style="min-height: 400px;">

							<div class="card-title">
								<span class="profil-picture-event">
	                <%if @event.owner.profil_picture.attached?%>
	                <div class="user" style="background-image: url(<%= rails_blob_url(@event.owner.profil_picture) %>)"></div>
	                <%else%>
	                  <span class="profil-picture-user"><%= image_tag "person.png", alt: 'profil_picture', class: "user" %></span>
	                <% end %>
	                </span>
								<div class="text-center py-3 display-5 font-4 strong-color f-medium"> Le <%= @event.start_date.strftime("%d/%m/%Y") %></div>
							</div>
							<div class="card-body f-size-2 strong-color font-4 f-regular">
							 	<div><b class="event-landing-page">
                  <%= link_to (user_path(@event.owner.id)) do  %>
                    <%= @event.owner.first_name%> <%= @event.owner.last_name %>
                  <%end%>
                </b> vous propose sur <%= @event.city.city_name%>, </div>
							 	<div class="f-thin"><%= @event.description%></div>
								</div>
							</div>
	 				 </div>
   			</div>

<!-- colonne droite -->
   <div class="col-md-4 col-lg-4 col-xl-4 mx-auto">
     <div class="col-xl-12 mx-auto font-1 f-medium text-center align-self-end">
       <div class="f-medium font-1 medium-color f-uppercase"> Zone du Cosport </div>
     </div>
			 <div id="show-event-map" class="col-12  border-map pb-1"></div>
			 <div class="col-xl-12 mx-auto pt-5">
					<%= render 'show_join_an_event' %>
			 </div>
    </div>
	</div>

	<div class="row">
		<div class=" col col-md-12 mx-auto">
			<%= render 'show_comment_event'%>
		</div>
	</div>
</div>
</header>









<%= javascript_include_tag 'show_event_map' %>
