<h2> <%= @event.title %> </h2>


<p>le <%= @event.start_date.asctime %></p>
<p>par <%= @event.owner.last_name%> <%= @event.owner.first_name%></p>
<p>à <%= @event.city.city_name%></p>
<p>pour  <%= @event.sport.sport_name%></p>
<% if Attendance.where(event_id: @event.id).exists?%>
	<p>avec</p>
	<%  Attendance.where(event_id: @event.id).each do |participation|%>
<%= link_to user_path(participation.attendee_id) do %>
	<%=	participation.attendee.first_name %> <%=participation.attendee.last_name %>
<% end%>
	<% end%>
<% end%>

<% if @event.start_date < (Time.now + Time.now.gmt_offset).utc %>

<% else %>
	<% if @event.owner_id == current_user.id %>
		<h3>Vous êtes le créateur de ce cosport</h3>
	<% elsif current_user.attendances.where(event_id: @event.id).exists? && @event.owner_id != current_user.id%>
		<h3> Vous êtes inscrit à ce cosport </h3>
		<br>
		<% attendance = Attendance.where(event_id: @event.id, attendee_id: current_user.id)[0] %>
		<%= link_to "SE DÉSINSCRIRE DE CE COSPORT !", event_attendance_path(@event.id, attendance.id) ,method: "delete" %>
	<% else %>
	<%=link_to "REJOINDRE CE COSPORT !", event_attendances_path(@event.id) ,method: "post" %>
	<% end %>
<% end %>

<% if current_user.id == @event.owner.id %>
<%= link_to "Editer l'évènement", edit_event_path(@event.id) %>
<%= link_to "Supprimer l'évènement", event_path(@event.id),:data => {:confirm => 'Are you sure?'}, method: "delete" %>
<% end %>

<%= form_tag(event_comments_path(@event.id), method: :post ) do %>
    <%= label_tag 'comments' %>
    <%= text_area_tag 'content' %>
	<%= submit_tag "Create com" %>
<% end %>

<% @comment.each do |comment| %>
	<p><a href="<%= user_path(comment.user_id) %>"><%= comment.user.first_name %></a> dit : <%= comment.content %></p>
	<%= button_to "delete", event_comment_path(@event.id, comment.id), :method => :delete %>
<% end %>

<div id="show-event-map">

</div>

<%= javascript_include_tag 'show_event_map' %>

<script>
	var marker = L.marker([50.6305089,3.0706414]).addTo(map);
	marker.bindPopup("<h3>ICI C'EST LILLE BOLOSS!!</h3>");
</script>
