<header class="masthead-2 mhead-2 text-cente">

  <div class="overlay"></div>
    <div class="container">
      <div class="row">
      <div class="col-xl-12 mx-auto font-1 text-center pb-3">
        <h1 class="f-regular font-3 strong-color"> Connexion</h1>
      </div>
      <div class="col-md-7 col-lg-7 col-xl-5 mx-auto">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-column form-landing-page">

            <div class="col-12 mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-light", placeholder: "email"%>
                </div>
                    <div class="col-12 mb-3">
                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control-light", placeholder: "mot de passe"%>
                    </div>
                      <% if devise_mapping.rememberable? %>
                      <div class="col-12 mb-3 medium-color f-size-4 f-thin font-4">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                      <% end %>
                    <div class="col-12 mb-3">
                      <%= f.submit "Go", class: "btn btn-block btn-lg btn-primary" %>
                  </div>
              <% end %>
              <%= render "devise/shared/links" %>

            </div>
          </div>

    </div>
  </div>
  </header>
