    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top navbar-expand-sm  bg-white border-bottom-nav px-5">
      <a class="navbar-brand" href="<%=root_path%>">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 274.4862671 194.9902496" enable-background="new 0 0 274.4862671 194.9902496" xml:space="preserve" class="our-logo">
          <g id="XMLID_18_">
        <g id="XMLID_432_">
          <g id="XMLID_698_">
            <g id="XMLID_496_">
              <path id="XMLID_9_" d="M166.3601227,121.5562439c0.0435638,0.0311127,0.6160736,0.2364731,1.2072449,0.3692322
                c5.2563324,1.184433,10.5023041,2.4207306,15.7814484,3.489006c5.8309174,1.1802902,11.7365112,2.0079422,17.5238647,3.3562546
                c3.9826965,0.9292908,8.7349701,1.4727631,11.5124817,3.9909973c4.3789062,3.9681702,7.3161469,9.5045319,11.0167236,14.2568054
                c1.0081329,1.2923126,3.561615,3.2110596,3.7192688,3.0596313c2.1884003-2.0701752,4.0822601-4.4514923,6.0487213-6.756073
                c-0.4459839-0.2717285-0.883667-0.5600586-1.3400116-0.8131256c-3.5885773-1.9954987-8.3678131-3.1239319-10.5437775-6.135849
                c-6.0134583-8.3304749-13.1117859-14.1282043-23.5290375-15.4640656
                c-8.7826691-1.126358-17.5778046-2.2506409-26.2775116-3.866539c-3.1985931-0.5932541-5.5156097-1.5018082-4.9347992,4.5655823
                C166.4285736,121.5707626,166.3725586,121.5562439,166.3601227,121.5562439z M261.6565247,152.7955322
                c0.356781,0.3152924-0.1721497,2.3958435-0.8753662,3.0160675
                c-5.7354889,5.0758514-11.5705566,10.0438538-17.4533234,14.9496307
                c-3.6964417,3.0782928-7.6936646,5.8122559-11.2469788,9.0419617c-2.6737976,2.4290314-7.4198456,2.1656036-9.7659149-0.564209
                c-7.4634094-8.6893311-14.480835-17.938736-22.9959259-25.4705963
                c-3.9930725-3.5305023-10.9731598-3.8561707-16.6962128-5.2189941
                c-10.2388611-2.4394073-20.4756317-5.1173553-30.8721313-6.5278931
                c-3.7877197-0.5144348-8.6789703,1.400177-11.9480896,3.758667
                c-11.3403168,8.1832123-22.1993942,17.0364075-33.2140427,25.671814
                c-1.2736359,0.9998169-2.5203018,2.1054382-3.5242767,3.3666229
                c-5.5280685,6.9468994-11.8339996,5.1256561-18.5631027,2.0701752
                c-12.5040131-5.675354-25.049511-11.2884674-37.7920685-16.3912964
                c-2.0535774-0.8214264-5.3247833,0.8525543-7.8450851,1.8523712c-5.5176964,2.1863403-10.8072166,5.0053406-16.4265537,6.839035
                c-1.5681877,0.5123596-3.9640293-1.5121765-5.9781952-2.3750916c1.0827961-1.2819366,2.1780376-2.5514221,3.2421646-3.8478699
                c1.4582481-1.7776947,2.8397465-3.6196899,4.3436298-5.3538208c2.696619-3.1094055,5.3704185-6.2478638,8.1292686-9.3012543
                c2.3916931-2.6468353,5.3330803-5.1443176,6.6544228-8.550354c-6.8328152,0.2343903-13.4001179,2.2444153-20.1997452,0.1140747
                c-1.8067341-0.564209-7.2891665-1.8565063-8.2246857-3.449585
                c-3.5553875-6.0611725,15.3105679-12.2924347,18.8431377-13.1926956c2.8750095-0.7322311,5.801878-1.2176208,8.681036-1.9228897
                c3.6964417-0.9064789,7.0609932-3.4516754,10.9918327-3.2670593c4.0864143,0.1929092,7.6791382,2.6177902,11.1619263,4.5116501
                c6.6606445,3.6217651,14.0120392,5.9512253,20.8054428,9.3572617c4.5406952,2.275528,6.9137192-0.5455475,10.0210495-2.7360229
                c8.6602936-6.1068039,17.1152344-13.1055679,24.0973969-20.8884277
                c0.4895401-0.5455399,0.3713074-3.0139847-0.1534958-3.2898712c-3.9121704-2.057724-7.9674759-5.1318741-12.0331421-5.2127686
                c-3.5304947-0.0726013-6.963501,3.8478622-10.7346191,5.1360168c-7.5650482,2.5866776-14.8044281,7.5629807-23.495842,3.9764786
                c-5.3455238-2.207077-6.8680763-6.2810516-3.6176147-11.0665054c1.850296-2.7215118,4.1362-5.1463928,6.2001495-7.7268524
                c0.3173676-0.3961945,0.4957581-0.9044037,0.7405319-1.3607559c-0.5289536-0.1783905-1.0475311-0.40242-1.5868607-0.5289536
                c-3.2069016-0.7446747-6.6233063-1.0039673-9.5750656-2.3149414c-3.6176186-1.603447-5.0240059-8.7225189-2.0867691-11.3963242
                c4.2440643-3.8644562,9.0087814-7.2290115,13.8398743-10.3633118
                c7.6438751-4.9617767,15.4702911-9.6538925,23.3278275-14.2754784
                c5.706459-3.3562546,12.2198257-5.6566772,17.2168655-9.8156929c5.3455276-4.4514923,8.9818115-1.6138229,13.507988,0.3878975
                c0.6243668,0.2758865,2.9227219-2.2651596,3.8499374-3.8499413c1.8814087-3.2172699,3.3583221-6.6710167,4.999115-10.0272694
                c0.0228119,0.008297,0.0435638,0.0145206,0.0663757,0.0228176c0.1846161,0.2219524,0.3650818,0.4480534,0.5455475,0.6720791
                c0.0912781-0.1369038,0.1825409-0.2717361,0.2717438-0.4086399c-0.2717438-0.087122-0.5455475-0.1763191-0.8172913-0.2634392
                c-0.0145111-0.0207443-0.0311127-0.0394135-0.047699-0.0601559c4.0760345-4.2502861,7.9819794-9.2079144,14.6820374-8.2454281
                c2.3253174,0.3339653,4.8518372,2.3668003,6.3909912,4.327034c2.1655884,2.756773,3.457901,6.1897755,5.2376556,9.2680702
                c0.2302551,0.3961945,1.2591248,0.7073441,1.7237701,0.5351753c9.5335846-3.5221996,17.515564,0.0290413,21.5791626,9.519062
                c1.2217865,2.8521919,2.7215118,5.611042,4.3871918,8.2246857c0.2655182,0.4169388,2.6655121,0.2592888,3.0886688-0.3360405
                c3.9764709-5.5820007,7.791153-11.2843094,11.5477448-17.0198097c4.5718079-6.9780178,8.342926-8.6561451,14.5285492-5.5757771
                c1.4914398,0.7426071,2.010025,3.2815781,3.1986084,4.824873c1.0392303,1.3483086,2.1863403,2.939312,3.6508026,3.5657578
                c2.4518585,1.0496063,5.2832947,1.2051811,7.7496643,2.2319717c0.5455475,0.2281761,0.7073517,2.7173615,0.2385559,3.8250504
                c-3.1156311,7.3762856-6.5424194,14.621891-9.6787872,21.9919586
                c-1.9892731,4.6734467-3.0617065,9.8509521-5.6877899,14.0991669c-1.5287781,2.4746628-5.113205,4.1195984-8.1126709,5.1692047
                c-11.2677155,3.9432907-22.6951599,7.4240036-33.9981384,11.2677155
                c-1.3503876,0.4605026-2.6737976,1.8938599-3.3583221,3.2131271c-1.1305084,2.1821899-1.6407928,4.6755219-2.5680084,6.9759445
                c-2.3585052,5.8495865-1.4810638,7.1294403,4.8456116,7.9197617c9.1975403,1.1491699,18.6668243,1.5495148,27.4370575,4.1984253
                c6.2665253,1.8938522,11.6742706,6.8141479,17.2624969,10.6765366c2.0224609,1.3980865,3.551239,3.5699005,5.1422424,5.5197754
                c2.6364746,3.2359314,5.8101807,3.5906372,9.5750732,2.3813171c2.0722504-0.665863,4.3436279-1.3192749,6.4428406-1.1201324
                c1.8378601,0.1763153,3.8395691,1.2653351,5.1733551,2.563858c0.4190216,0.4086456-0.8463135,2.9808044-1.7693939,4.2523651
                c-3.7026672,5.1111298-7.5920105,10.0853424-11.3465424,15.1591339
                c-0.3152924,0.4273071-0.4190063,1.5101166-0.1369019,1.7756195c0.5517731,0.5206604,1.6013794,1.1201324,2.1738892,0.9189301
                c6.4864044-2.2817535,12.9168091-4.7294617,19.3783112-7.0817413c1.0890198-0.3982697,2.3398438-0.9521027,3.3811646-0.7467499
                C259.0428772,151.0883636,260.5550842,151.816452,261.6565247,152.7955322z M236.076004,167.4381714
                c0.4957581-0.6139984,0.7571259-1.4188385,1.1222076-2.1386261c-0.7675018,0.0808868-1.5598907,0.3215179-2.3004303,0.2136536
                c-1.6262665-0.2406311-3.8665314-0.0954285-4.7377472-1.0869446
                c-6.5050812-7.4157104-12.6720276-15.1280365-19.0920563-22.6204834
                c-2.2381897-2.6136475-4.5676575-6.4241791-7.4136353-7.0174255
                c-10.3633118-2.1635132-20.963089-3.1986084-30.5900116-4.5344696
                c-11.3340912,0.3630066-14.8189545-3.464119-12.8068695-13.4353867c0.769577-3.8146744,2.7961884-7.4530334,3.10112-11.2656403
                c0.460495-5.723053,7.0091248-15.4661407,11.999939-16.9555054c8.571106-2.5576401,17.0944977-5.2812195,25.5846863-8.0940018
                c6.0445709-2.0017166,11.0499115-5.2148438,13.2507782-11.7531052
                c1.3400116-3.9826965,3.1218414-7.8243446,4.8456116-11.6659889c1.8855591-4.2025757,4.0138092-8.2952118,5.8475037-12.5185318
                c0.3754578-0.862915-0.0788116-2.0846901-0.151413-3.1425972c-0.7571259,0.15765-1.7507324,0.0601578-2.2340546,0.5102844
                c-4.275177,3.9868469-8.9901123,7.6563225-12.551712,12.2177544
                c-6.3412018,8.1271935-13.0827484,15.5885277-23.8132172,16.9638023
                c-3.3313599,0.4273148-8.6768951,4.2565079-10.504364-2.321167c-0.8587646-3.0928116-1.0060425-6.6606445-0.3733826-9.7907944
                c0.4397583-2.1780396,2.8542633-3.9142456,4.1921997-5.9740486c0.7841034-1.2051811,1.9706116-2.9434624,1.607605-3.9495087
                c-0.9375916-2.5970497-2.1386261-5.5114708-4.1569366-7.1999702c-2.3875427-1.9996452-7.1107788-4.7667923-8.4155273-3.8333473
                c-3.7711182,2.6945457-7.7621155,6.6689453-8.9838867,10.9109344
                c-1.3400116,4.6630745,0.506134,10.1849174,0.4853973,15.3313103c-0.0041504,1.0537567-2.1261902,2.9496841-3.2732849,2.9496841
                c-1.8191833,0-3.5885773-1.447876-5.4658356-1.9726791c-8.4881287-2.3709488-16.9907684-4.694191-25.5245285-6.901268
                c-3.0119171-0.7799454-6.9759445-2.669651-9.0398941-1.4893608
                c-8.5254669,4.8767281-16.4825668,10.7470589-24.6595383,16.2336388
                c-3.5948029,2.4124374-7.2974701,4.6734467-10.8009949,7.2082672c-2.3439865,1.694725-6.038353,3.648735-2.3543549,6.9137192
                c1.5578156,1.3814926,5.241806,2.0162354,7.0713577,1.1388016c5.7811356-2.7712936,11.0125809-6.6793137,16.7314835-9.6061859
                c2.4850388-1.2736359,6.1503601-2.4808884,8.411377-1.5681839c9.77005,3.9474335,19.2725143,8.5835419,28.7148361,13.2881012
                c1.1491699,0.5725174,2.310791,3.4910812,1.8233337,4.5966949c-3.045105,6.8826065-6.7208099,13.4830933-9.8654785,20.3262787
                c-2.6509857,5.7728424-5.1546936,10.1185455-8.187355,15.6632004c-1.0744934,1.964386-4.2461319,4.0449371-6.3411942,5.7002411
                c-5.7002411,4.5075073-11.0665131,9.4360962-16.702446,14.0286407
                c-2.9704285,2.4186554-6.6772385,4.0615234-9.2556229,6.8016968c-4.1071548,4.3643799-7.9944305,4.6340332-12.6844711,1.1305084
                c-8.9154358-6.6606445-18.1772842-12.8587189-27.4080162-19.0837555
                c-0.7426071-0.5019836-2.7878876-0.1638794-3.4744911,0.5310211
                c-3.5346413,3.5699158-6.8224411,7.3845825-10.2015114,11.1100616
                c-1.1367302,1.2528992-2.2879791,2.4954224-3.4309311,3.7400055c1.4769173-0.5496979,2.9455376-1.1242828,4.4349022-1.6470032
                c5.4824295-1.9208221,10.0832787-0.526886,15.1425476,2.3854675c7.2227898,4.161087,15.1674423,7.0879517,22.8631744,10.4048004
                c7.6335068,3.2919464,15.1964798,9.6165466,23.3983459,1.0724182c0.838028-0.873291,1.5785599-1.8648071,2.5140839-2.6157227
                c10.1849136-8.1997833,20.2391586-16.5800476,30.691658-24.4251404
                c3.9453583-2.9621277,9.2141418-7.1252899,13.2321014-6.5092163
                c17.3019257,2.6468353,34.3694458,6.8452606,51.5074921,10.5437775c2.1137238,0.4563446,4.7584839,0.7032013,6.1067963,2.078476
                c7.2144928,7.3659058,14.215332,14.9537811,21.0398407,22.6847839c3.1986084,3.6217651,5.97612,3.1011047,9.0813904,0.2343903
                C234.7422028,168.6267548,235.5221558,168.1247711,236.076004,167.4381714z M215.218689,38.5460358
                c0.7280884-0.9562607-0.4584198-3.3666229-0.759201-5.1049042c-1.1657715,0.8006859-2.6592712,1.3628273-3.4412994,2.4393997
                c-2.8190002,3.8914299-5.1235657,8.1790504-8.1520844,11.8858643c-2.5721588,3.148819-2.4124298,8.9486237-8.7328949,8.7702332
                c-3.1239319-0.0891953-6.4449158,0.7778702-9.3531189,1.9913483c-1.2321472,0.5123558-1.8005066,2.9725037-2.3336029,4.6527023
                c-0.2592926,0.8193588,0.2572174,1.8814087,0.2987061,2.1303329c7.4053192-2.5327492,13.6490326-2.3439865,17.7147064-8.4528656
                C204.7848511,50.3634453,210.4788666,44.7918167,215.218689,38.5460358z M155.4243011,41.9188843
                c0.2385406-1.2736359,0.0954132-2.6157227,0.1265259-3.926693c-2.078476,0.5766602-5.3517456,0.5434723-6.0113831,1.8419991
                c-2.0432129,4.0117378-2.6572113,8.7391167-4.6298828,12.7985649c-2.6177979,5.3870125,1.2051697,5.4658356,4.42453,6.33498
                c0.3961945,0.1057892,0.8318024,0.3090706,1.2010345,0.2323227c1.0682678-0.2198792,2.1095734-0.5600662,1.5080261-0.3920479
                C153.4246521,51.9731216,154.4846191,46.9574089,155.4243011,41.9188843z M152.7297516,30.8668957
                c-1.2362976-2.0120907-2.1075134-4.5240955-3.872757-5.8163967c-0.8318024-0.6077766-4.1548767,0.6181469-4.9949646,1.902153
                c-2.1220398,3.2359409-3.860321,6.849411-5.0572052,10.5396271c-2.5721588,7.9301338-5.4990234,11.0478401-10.9773102,9.8903656
                c-3.080368-0.6492615-5.9449997-2.3273888-9.1684952-3.6487312c-1.3047485,1.0579033-2.3750992,2.1759644-3.6611786,2.9247932
                c-3.9723282,2.3087234-8.1085281,4.3415565-12.0310669,6.7311745
                c-5.934639,3.6134682-11.7655563,7.4011803-17.5964737,11.1826668
                c-6.8597794,4.4473495-13.7071152,8.917511-20.461113,13.5225067c-0.8400955,0.574585-1.0744972,2.0369873-1.5889282,3.0886612
                c1.3254929,0.2385483,2.9725037,1.0993958,3.9204712,0.6077805c4.9783707-2.5783844,9.7949448-5.4720612,14.6384888-8.307663
                c6.3163071-3.6985092,12.624321-7.4115448,18.8887711-11.1992607c1.3275681-0.8027611,2.3377609-2.1510696,3.6860733-2.9019737
                c5.6338577-3.1343002,11.0602798-7.3389511,17.1214523-8.7577858c3.9495087-0.9230766,8.8200073,2.460144,13.3752289,3.4786377
                c0.966629,0.2157288,3.184082-1.2674141,3.4205475-2.2942009c1.6781311-7.2393837,3.1923828-14.482914,9.9837189-18.9655228
                C149.6742706,31.9745846,151.265274,31.5140858,152.7297516,30.8668957z M130.6963043,99.2946243
                c0.4044952-1.4727707-0.0311127-4.2170944-1.0558319-4.8580627c-4.1195984-2.5763092-8.488121-4.8663559-13.0080719-6.648201
                c-3.1591873-1.246666-7.7372208-3.2069016-9.9111099-1.9000778
                c-9.4111938,5.6566772-17.8163452,13.5183563-31.2455063,8.6208801c-1.3275681,2.0597992-2.8895264,4.1362-3.9723282,6.4386978
                c-0.242691,0.5144272,1.4146881,2.7235794,1.8254089,2.6240158c4.5261688-1.1076889,9.0440369-2.3356857,13.4395294-3.8831329
                c6.2499313-2.2008514,12.2488708-6.0404282,18.6191101-6.7332458
                c6.6419754-0.7218628,10.2201843,3.6964417,14.9475632,7.4281464c3.1965332,2.5265198,0.9998245,7.320282-0.4127884,10.3612366
                c-1.9934235,4.2896957-5.0074158,8.183197-8.5710983,11.2884598
                c-5.934639,5.1712799-12.0518112,10.1828461-18.4759827,14.7173157
                c-2.7775192,1.9581604-6.8908997,4.1175232-9.7410202,3.4350739
                c-5.5259933-1.3234253-10.6454163-4.4763947-15.8270721-7.0838165
                c-6.9323845-3.4889984-13.3690033-8.4549332-21.1560059-7.1294403
                c-2.7007675,0.6679306-4.6278114,1.1512527-6.5569344,1.6221237c-3.2732773,0.7986069-6.5569305,1.5598831-9.8260593,2.373024
                c-3.1944561,0.7944641-6.1959991,0.8774414-7.8844986,3.9536591c3.5284214,1.8233185,8.9216595,0.8566895,12.7757473,0.7342987
                c4.5718079-0.1452026,9.178875-0.6347351,13.4208641-2.4559937c0.4729424-0.2032776,1.1740646-0.2800293,1.6158943-0.0767517
                c5.1422462,2.3564301,10.5479279,4.3125153,15.296051,7.3057709c5.1733551,3.2608337,9.4672012,7.9342804,14.6882706,11.0914001
                c1.9809799,1.1989594,6.1358414,0.8919525,8.1666031-0.4480591c1.8108826-1.194809,3.5719833-2.4663696,5.3081894-3.7752686
                c5.2314453-3.9370575,10.2492294-8.1997986,15.7855911-11.6369476
                c4.3685226-2.7132111,7.2207108-6.9385986,9.9007339-11.2096329c2.775444-4.4286728,5.3787231-8.3449936,7.3244324-13.2238007
                C127.6760941,106.4427338,129.6072845,103.2628021,130.6963043,99.2946243z"/>
              <path id="XMLID_8_" fill="#FF815A" d="M237.1982117,165.2995453c-0.3650818,0.7197876-0.6264496,1.5246277-1.1222076,2.1386261
                c-0.5538483,0.6865997-1.3338013,1.1885834-1.9934235,1.7963562c-3.1052704,2.8667145-5.882782,3.3873749-9.0813904-0.2343903
                c-6.8245087-7.7310028-13.8253479-15.3188782-21.0398407-22.6847839
                c-1.3483124-1.3752747-3.9930725-1.6221313-6.1067963-2.078476
                c-17.1380463-3.6985168-34.2055664-7.8969421-51.5074921-10.5437775
                c-4.0179596-0.6160736-9.2867432,3.5470886-13.2321014,6.5092163
                c-10.4524994,7.8450928-20.5067444,16.2253571-30.691658,24.4251404
                c-0.935524,0.7509155-1.6760559,1.7424316-2.5140839,2.6157227c-8.2018661,8.5441284-15.7648392,2.2195282-23.3983459-1.0724182
                c-7.6957321-3.3168488-15.6403847-6.2437134-22.8631744-10.4048004
                c-5.059269-2.9123535-9.6601181-4.3062897-15.1425476-2.3854675c-1.4893646,0.5227203-2.9579849,1.0973053-4.4349022,1.6470032
                c1.142952-1.2445831,2.2942009-2.4871063,3.4309311-3.7400055c3.3790703-3.7254791,6.6668701-7.5401459,10.2015114-11.1100616
                c0.6866035-0.6949005,2.731884-1.0330048,3.4744911-0.5310211c9.230732,6.2250366,18.4925804,12.423111,27.4080162,19.0837555
                c4.6900406,3.5035248,8.5773163,3.2338715,12.6844711-1.1305084c2.5783844-2.7401733,6.2851944-4.3830414,9.2556229-6.8016968
                c5.6359329-4.5925446,11.0022049-9.5211334,16.702446-14.0286407c2.0950623-1.655304,5.2667007-3.7358551,6.3411942-5.7002411
                c3.0326614-5.5446548,5.5363693-9.890358,8.187355-15.6632004c3.1446686-6.8431854,6.8203735-13.4436722,9.8654785-20.3262787
                c0.4874573-1.1056137-0.6741638-4.0241776-1.8233337-4.5966949
                c-9.4423218-4.7045593-18.9447861-9.3406677-28.7148361-13.2881012c-2.2610168-0.9127045-5.9263382,0.294548-8.411377,1.5681839
                c-5.7189026,2.9268723-10.9503479,6.8348923-16.7314835,9.6061859c-1.8295517,0.8774338-5.5135422,0.242691-7.0713577-1.1388016
                c-3.6839981-3.2649841,0.0103683-5.2189941,2.3543549-6.9137192c3.5035248-2.5348206,7.206192-4.7958298,10.8009949-7.2082672
                c8.1769714-5.4865799,16.1340714-11.3569107,24.6595383-16.2336388c2.0639496-1.1802902,6.027977,0.7094154,9.0398941,1.4893608
                c8.5337601,2.207077,17.0363998,4.5303192,25.5245285,6.901268c1.8772583,0.5248032,3.6466522,1.9726791,5.4658356,1.9726791
                c1.1470947,0,3.2691345-1.8959274,3.2732849-2.9496841c0.0207367-5.1463928-1.8254089-10.6682358-0.4853973-15.3313103
                c1.2217712-4.2419891,5.2127686-8.2163887,8.9838867-10.9109344c1.3047485-0.933445,6.0279846,1.8337021,8.4155273,3.8333473
                c2.0183105,1.6884995,3.2193451,4.6029205,4.1569366,7.1999702c0.3630066,1.0060463-0.8235016,2.7443275-1.607605,3.9495087
                c-1.3379364,2.059803-3.7524414,3.7960091-4.1921997,5.9740486c-0.6326599,3.1301498-0.4853821,6.6979828,0.3733826,9.7907944
                c1.8274689,6.5776749,7.1730042,2.7484818,10.504364,2.321167c10.7304688-1.3752747,17.4720154-8.8366089,23.8132172-16.9638023
                c3.5615997-4.5614319,8.276535-8.2309074,12.551712-12.2177544c0.4833221-0.4501266,1.4769287-0.3526344,2.2340546-0.5102844
                c0.0726013,1.0579071,0.5268707,2.2796822,0.151413,3.1425972c-1.8336945,4.22332-3.9619446,8.3159561-5.8475037,12.5185318
                c-1.7237701,3.8416443-3.5056,7.6832924-4.8456116,11.6659889c-2.2008667,6.5382614-7.2062073,9.7513885-13.2507782,11.7531052
                c-8.4901886,2.8127823-17.0135803,5.5363617-25.5846863,8.0940018
                c-4.9908142,1.4893646-11.539444,11.2324524-11.999939,16.9555054c-0.3049316,3.8126068-2.331543,7.4509659-3.10112,11.2656403
                c-2.012085,9.9712677,1.4727783,13.7983932,12.8068695,13.4353867
                c9.6269226,1.3358612,20.2266998,2.3709564,30.5900116,4.5344696c2.8459778,0.5932465,5.1754456,4.4037781,7.4136353,7.0174255
                c6.4200287,7.4924469,12.5869751,15.2047729,19.0920563,22.6204834
                c0.8712158,0.9915161,3.1114807,0.8463135,4.7377472,1.0869446
                C235.6383209,165.6210632,236.4307098,165.3804321,237.1982117,165.2995453z"/>
              <path id="XMLID_7_" fill="#6F4DFF" d="M231.8298645,142.5089722c0.4563446,0.253067,0.8940277,0.5413971,1.3400116,0.8131256
                c-1.9664612,2.3045807-3.860321,4.6858978-6.0487213,6.756073c-0.1576538,0.1514282-2.7111359-1.7673187-3.7192688-3.0596313
                c-3.7005768-4.7522736-6.6378174-10.2886353-11.0167236-14.2568054
                c-2.7775116-2.5182343-7.5297852-3.0617065-11.5124817-3.9909973
                c-5.7873535-1.3483124-11.6929474-2.1759644-17.5238647-3.3562546
                c-5.2791443-1.0682755-10.525116-2.3045731-15.7814484-3.489006c-0.5911713-0.1327591-1.163681-0.3381195-1.2072449-0.3692322
                c0.0124359,0,0.0684509,0.0145187,0.1846161,0.051857c-0.5808105-6.0673904,1.7362061-5.1588364,4.9347992-4.5655823
                c8.699707,1.6158981,17.4948425,2.740181,26.2775116,3.866539c10.4172516,1.3358612,17.5155792,7.1335907,23.5290375,15.4640656
                C223.4620514,139.3850403,228.2412872,140.5134735,231.8298645,142.5089722z"/>
              <path id="XMLID_6_" fill="#2FF4B7" d="M214.4594879,33.4411316c0.3007812,1.7382812,1.4872894,4.1486435,0.759201,5.1049042
                c-4.7398224,6.2457809-10.4338379,11.8174095-14.7587891,18.3121109
                c-4.0656738,6.1088791-10.3093872,5.9201164-17.7147064,8.4528656
                c-0.0414886-0.2489243-0.5579987-1.3109741-0.2987061-2.1303329c0.5330963-1.6801987,1.1014557-4.1403465,2.3336029-4.6527023
                c2.9082031-1.2134781,6.229187-2.0805435,9.3531189-1.9913483c6.3204651,0.1783905,6.1607361-5.6214142,8.7328949-8.7702332
                c3.0285187-3.7068138,5.3330841-7.9944344,8.1520844-11.8858643
                C211.8002167,34.8039589,213.2937164,34.2418175,214.4594879,33.4411316z"/>
              <path id="XMLID_5_" fill="#6F4DFF" d="M155.550827,37.9921913c-0.0311127,1.3109703,0.1120148,2.6530571-0.1265259,3.926693
                c-0.939682,5.0385246-1.999649,10.0542374-3.3811493,16.8891258c0.6015472-0.1680183-0.4397583,0.1721687-1.5080261,0.3920479
                c-0.3692322,0.0767479-0.8048401-0.1265335-1.2010345-0.2323227c-3.2193604-0.8691444-7.0423279-0.9479675-4.42453-6.33498
                c1.9726715-4.0594482,2.5866699-8.7868271,4.6298828-12.7985649
                C150.1990814,38.5356636,153.4723511,38.5688515,155.550827,37.9921913z"/>
              <path id="XMLID_4_" fill="#2FF4B7" d="M148.8569946,25.050499c1.7652435,1.2923012,2.6364594,3.804306,3.872757,5.8163967
                c-1.4644775,0.6471901-3.055481,1.1076889-4.3747406,1.9768314c-6.7913361,4.4826088-8.3055878,11.7261391-9.9837189,18.9655228
                c-0.2364655,1.0267868-2.4539185,2.5099297-3.4205475,2.2942009c-4.5552216-1.0184937-9.4257202-4.4017143-13.3752289-3.4786377
                c-6.0611725,1.4188347-11.4875946,5.6234856-17.1214523,8.7577858
                c-1.3483124,0.7509041-2.3585052,2.0992126-3.6860733,2.9019737
                c-6.2644501,3.7877159-12.572464,7.5007515-18.8887711,11.1992607c-4.843544,2.8356018-9.6601181,5.7292786-14.6384888,8.307663
                c-0.9479675,0.4916153-2.5949783-0.3692322-3.9204712-0.6077805c0.514431-1.0516739,0.7488327-2.5140762,1.5889282-3.0886612
                c6.7539978-4.6049957,13.6013336-9.0751572,20.461113-13.5225067
                c5.8309174-3.7814865,11.6618347-7.5691986,17.5964737-11.1826668c3.9225388-2.3896179,8.0587387-4.422451,12.0310669-6.7311745
                c1.2860794-0.7488289,2.3564301-1.86689,3.6611786-2.9247932c3.2234955,1.3213425,6.0881271,2.9994698,9.1684952,3.6487312
                c5.4782867,1.1574745,8.4051514-1.9602318,10.9773102-9.8903656c1.1968842-3.6902161,2.9351654-7.3036861,5.0572052-10.5396271
                C144.7021179,25.6686459,148.0251923,24.4427223,148.8569946,25.050499z"/>
              <path id="XMLID_3_" d="M135.4236908,26.5211926c0.0165863,0.0207424,0.0331879,0.0394115,0.047699,0.0601559
                c-0.0228119-0.008297-0.0435638-0.0145206-0.0663757-0.0228176
                C135.4112396,26.5460835,135.4174652,26.533638,135.4236908,26.5211926z"/>
              <path id="XMLID_2_" d="M135.4236908,26.5211926c-0.0062256,0.0124454-0.0124512,0.0248909-0.0186768,0.0373383
                c-0.0041504,0-0.010376-0.0020752-0.0145264-0.0041485C135.4008636,26.5440102,135.4112396,26.5315647,135.4236908,26.5211926z"
                />
              <path id="XMLID_1_" fill="#6F4DFF" d="M129.6404724,94.4365616c1.0247192,0.6409683,1.4603271,3.3852921,1.0558319,4.8580627
                c-1.0890198,3.9681778-3.0202103,7.1481094-4.5303192,10.9316711
                c-1.9457092,4.8788071-4.5489883,8.7951279-7.3244324,13.2238007
                c-2.6800232,4.2710342-5.5322113,8.4964218-9.9007339,11.2096329
                c-5.5363617,3.437149-10.5541458,7.6998901-15.7855911,11.6369476
                c-1.7362061,1.3088989-3.4973068,2.5804596-5.3081894,3.7752686c-2.0307617,1.3400116-6.1856232,1.6470184-8.1666031,0.4480591
                c-5.2210693-3.1571198-9.5149155-7.8305664-14.6882706-11.0914001
                c-4.7481232-2.9932556-10.1538048-4.9493408-15.296051-7.3057709c-0.4418297-0.2032776-1.142952-0.1265259-1.6158943,0.0767517
                c-4.2419891,1.8212585-8.8490562,2.310791-13.4208641,2.4559937c-3.8540878,0.1223907-9.2473259,1.0890198-12.7757473-0.7342987
                c1.6884995-3.0762177,4.6900425-3.1591949,7.8844986-3.9536591c3.2691288-0.8131409,6.5527821-1.5744171,9.8260593-2.373024
                c1.9291229-0.470871,3.8561668-0.9541931,6.5569344-1.6221237c7.7870026-1.3254929,14.2236214,3.6404419,21.1560059,7.1294403
                c5.1816559,2.6074219,10.3010788,5.7603912,15.8270721,7.0838165c2.8501205,0.6824493,6.963501-1.4769135,9.7410202-3.4350739
                c6.4241714-4.5344696,12.5413437-9.5460358,18.4759827-14.7173157c3.5636826-3.1052628,6.5776749-6.998764,8.5710983-11.2884598
                c1.4126129-3.0409546,3.6093216-7.8347168,0.4127884-10.3612366c-4.7273788-3.7317047-8.3055878-8.1500092-14.9475632-7.4281464
                c-6.3702393,0.6928177-12.3691788,4.5323944-18.6191101,6.7332458
                c-4.3954926,1.5474472-8.9133606,2.775444-13.4395294,3.8831329c-0.4107208,0.0995636-2.0681-2.1095886-1.8254089-2.6240158
                c1.0828018-2.3024979,2.6447601-4.3788986,3.9723282-6.4386978c13.4291611,4.8974762,21.8343124-2.9642029,31.2455063-8.6208801
                c2.1738892-1.3068237,6.7519226,0.6534119,9.9111099,1.9000778
                C121.1523514,89.5702057,125.520874,91.8602524,129.6404724,94.4365616z"/>
            </g>
            <g id="XMLID_495_">
            </g>
          </g>
        </g>
          </g>
        </svg>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse pr-5" id="navbarNavDropdown">

        <ul class="navbar-nav mr-auto f-bold font-4">
        <li class="nav-item active">
          <%= link_to "COSPORT", root_path, class: "nav-link secondary-color logo-font-size" %>
        </li>
      </ul>


          <% if current_user %>

      <ul class="navbar-nav">
        <li class="nav-item icon-xlarge">
          <span class="ico-map icon-color">
           <%= link_to "Cosports aujourd'hui", maps_path, class: "nav-link secondary-color" %>
          </span>
        </li>
        <li class="nav-item icon-medium">
          <span class="ico-search icon-color">
           <%= link_to "Rechercher", search_index_path, class: "nav-link secondary-color" %>
          </span>
        </li>
        <li class="nav-item icon-large">
          <span class="ico-plus icon-color">
           <%= link_to "Proposer un cosport", new_event_path, class: "nav-link secondary-color" %>
          </span>
        </li>
            <li>
              <div class="nav-item dropdown show">
               <button onclick="dropProfilList()" class="dropbtn nav-link secondary-color">Profil</button>
               <div id="profilDropdown" class="dropdown-content">
                 <%= link_to "PROFIL", user_path(current_user.id), class: "nav-link dropdown-item" %>
                 <%= link_to "Deconnexion", destroy_user_session_path, method: "delete", class: "nav-link dropdown-item" %>
                 <% if current_user && current_user.admin == true%>
                   <%= link_to "Admin Page", admin_root_path, class: "nav-link dropdown-item" %>
                 <%  end %>
               </div>
              </div>
            </li>


          </ul>



        <% else %>
        <ul class="navbar-nav">
          <li class="nav-item icon-xlarge">
            <span class="ico-map icon-color">
             <%= link_to "Parcourir les évènements", new_event_path, class: "nav-link secondary-color" %>
            </span>
          </li>
          <li class="nav-item icon-medium">
            <span class="ico-search icon-color">
             <%= link_to "Rechercher", search_index_path, class: "nav-link secondary-color" %>
            </span>
          </li>
          <li class="nav-item icon-large">
            <span class="ico-plus icon-color">
             <%= link_to "Proposer un créneau", new_event_path, class: "nav-link secondary-color" %>
            </span>
          </li>
          <li class="nav-item" >
            <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item" >
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>

            </ul>
        </div>
        <% end %>

    </nav>
