<!DOCTYPE html>
<html>
  <head>
    <title>Cosport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


          <%= render "layouts/navbar_application"  %>
          <div class="content">
            <%= yield %>
            </div>
           <%= javascript_include_tag 'application' %>
          <%= render "layouts/footer_application"  %>


  </body>
</html>
